h1{
text-align: center;
background-color: rgba(50, 100, 100, 0.5);
}

.navbar{
border: 20px, rgba(255, 0, 0, 0.5);
text-align: center;
}

.firstCheckBox{
text-align: center;

}

.jokeHolder{
text-align: center;
background-color: rgba(255, 0, 0, 0.5);
}

.borderBox{
text-align: center;
 border: 1px solid red;

}
